# QTronic
admin_cj
iga
os
public
python25
python26
qtronicutil
software_dev
web

# Others
3rd party
java-libraries-sources
java-spring/spring-in-action/taco-cloud/mvnw
java-spring/spring-in-action/taco-cloud/mvnw.cmd
java-spring/spring-in-action/taco-cloud/HELP.md

# IDE
.idea/
.settings/
workspace/
.classpath
.project
*.iml
*.ipr
*.iws

# Generated
derby.log
target/
.forge_settings
.mvn
