# QTronic
admin_cj
iga
os
public
python25
python26
qtronicutil
software_dev
web

# Others
3rd party
java-libraries-sources

# IDE
.idea/
.settings/
workspace/
.classpath
.project
*.iml
*.ipr
*.iws

# Generated
derby.log
target/
.forge_settings
