# QTronic
admin_cj
iga
os
public
python25
python26
qtronicutil
software_dev

# Others
IRI CD
java-libraries-sources
vm

# IDE
.idea/
.settings/
workspace/
.classpath
.project
*.iml
*.ipr
*.iws

# Generated
derby.log
target/
.forge_settings
