.movieDisplay-imdb-image {
    display: block;
    margin-left: -2px;
}

.movieDisplay-imdb-link:active, .movieDisplay-imdb-link:focus {
    outline: none;
}

.movieDisplay-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
