.movieDisplay-imdb-image {
    vertical-align: -10px;
    margin-left: 5px;
}

.movieDisplay-imdb-link:active, .movieDisplay-imdb-link:focus {
    outline: none;
}

.movieDisplay-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
