.movieBundleDisplay-title {
    font-family: 'Special Elite', sans-serif;
    font-size: 16px;
}

.movieBundleDisplay-details {
    font-variant: small-caps;
    font-size: 14px;
}

.movieBundleDisplay-innerTitle {
    font-family: 'The Girl Next Door', sans-serif;
    font-size: 16px;
}

