.overlay {
    position: fixed;
    background-color: #9acd32;
    padding: 10px;
    top: 0;
    right: 0;
    z-index: 100;
}

a, a:visited {
    text-decoration: none;
    color: blue;
}

a:hover {
    color: red;
}

a.logout, a.logout:visited {
    text-decoration: none;
    color: black;
}

a.logout:hover {
    color: white;
}
