/*
 * Author: Bogdan Dumitriu
 */

root {
    display: block;
}

.sch_container {
    font-family: Candara, serif;
    white-space: nowrap;
}

.sch_header_first {
    display: inline-block;
    width: 50px;
    height: 60px;
    background-color: #fffbff;
    border-color: #cccccc;
    border-right-width: 1px;
    border-right-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.sch_header_first_embedded {
    width: 50px;
    height: 60px;
    padding-left: 5px;
    display: table-cell;
    vertical-align: bottom;
    text-align: left;
    font-variant: small-caps;
    font-weight: bold;
}

.sch_header_rest {
    display: inline-block;
    width: 150px;
    height: 60px;
    background-color: #fffffb;
    border-color: #cccccc;
    border-right-width: 1px;
    border-right-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.sch_header_rest_embedded {
    width: 150px;
    height: 60px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-variant: small-caps;
}

.sch_table_body {
    white-space: normal;
}

.sch_row_first {
    width: 50px;
    height: 60px;
    clear: both;
    float: left;
    border-color: #cccccc;
    background-color: #fffbff;
    border-right-width: 1px;
    border-right-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.sch_hour_text {
    font-weight: bold;
    padding-left: 5px;
}

.sch_row_rest {
    width: 150px;
    height: 60px;
    float: left;
    border-color: #cccccc;
    border-right-width: 1px;
    border-right-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.sch_movie_cell {
    width: 148px;
    position: relative;
    margin-top: -1px;
    float: left;
    border: 1px solid;
    /*border-color: #B0C4DE;*/
    background-color: #FFFFE0;
    border-radius: 3px;
    box-shadow: 1px 1px 2px #888888;
    z-index: 99;
}

.sch_movie_cell_scheduled {
    /*background-color: #FF9999;*/
    /*background-color: #FAFAFA;*/
    /*background-color: #F2F2F2;*/
    background-color: #FFE5E5;
}

.sch_movie_cell_watch_showing {
    background-color: #FFE5E5;
}

.sch_movie_cell_watch_movie {
    background-color: #F0FFF0;
}

.sch_movie_cell_watch_elsewhere {
    background-color: #FAFAFA;
}

.sch_movie_cell_embedded {
    width: 110px;
    height: 100%;
    position: relative;
    margin-left: 19px;
    display: block;
    text-align: center;
    font-variant: small-caps;
    /*background-color: #faffb5;*/
}

.sch_movie_cell_embedded a, a:visited {
    text-decoration: none;
    color: blue;
}

.sch_movie_cell_embedded a:hover {
    color: red;
}

.sch_movie_cell_embedded a:active {
    border: none;
}

.sch_uncheck {
    position: absolute;
    width: 19px;
    height: 19px;
    top: -1px;
    display: block;
    background: transparent url('../../resources/img/check_16_mouse_over.png') center top no-repeat;
}

.sch_uncheck:hover {
    background-image: url('../../resources/img/check_16.png');
}

.sch_check {
    position: absolute;
    width: 19px;
    height: 19px;
    top: -1px;
    visibility: hidden;
    display: block;
    background: transparent url('../../resources/img/check_16.png') center top no-repeat;
}

.sch_check:hover {
    background-image: url('../../resources/img/check_16_mouse_over.png');
}

.sch_pin_user, .sch_unpin_user, .sch_pin_system {
    position: absolute;
    width: 19px;
    height: 19px;
    top: 3px;
    right: -2px;
    display: block;
    background: transparent no-repeat center;
}

.sch_pin_user {
    visibility: hidden;
    background-image: url('../../resources/img/pin_user_button_16.png');
}

.sch_pin_user:hover {
    background-image: url('../../resources/img/pin_user_button_16_mouse_over.png');
}

.sch_unpin_user {
    background-image: url('../../resources/img/pin_user_16.png');
}

.sch_unpin_user:hover {
    top: 1px;
    background-image: url('../../resources/img/pin_user_16_mouse_over.png');
}

.sch_pin_system {
    background-image: url('../../resources/img/pin_system_16.png');
}

.sch_pin_system:hover {
    background-image: url('../../resources/img/pin_system_16_mouse_over.png');
}

.sch_priority_wrapper {
    position: absolute;
    width: 130px;
    height: 30px;
    font-size: 10px;
    bottom: 0;
    right: 9px;
    opacity: 0.5;
}

.sch_priority {
    margin-top: 13px;
    margin-left: 15px;
    margin-right: 15px;
}

.ui-slider-range {
    background: #DDEEFF;
}

#tooltip {
    position: absolute;
    visibility: hidden;
    z-index: 100;
    min-width: 100px;
    padding: 5px;
    font-size: 14px;
    text-align: center;
    /*color: rgb(113, 157, 171);*/
    background: #DDEEFF;
    border: 1px solid;
    border-radius: 5px;
    text-shadow: rgba(0, 0, 0, 0.1) 1px 1px 1px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 2px 0;
}

#tooltip:after, #tooltip:before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
}

#tooltip:after {
    border-color: rgba(221, 238, 255, 0);
    border-bottom-color: #DDEEFF;
    border-width: 5px;
    left: 50%;
    margin-left: -5px;
}

#tooltip:before {
    border-color: rgba(0, 0, 0, 0);
    border-bottom-color: #000000;
    border-width: 6px;
    left: 50%;
    margin-left: -6px;
}

#tooltip-text {
    margin: 0;
}

#movieInfo {
    display: none;
    margin: 5px;
    color: #FFFAF0;
}

.sch_close {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 6px;
    right: 3px;
    display: block;
    background: transparent url('../../resources/img/close_16.png') center top no-repeat;
}

.sch_close:hover {
    background-image: url('../../resources/img/close_16_mouse_over.png');
}
