/*
 * Author: Bogdan Dumitriu
 */

root {
    display: block;
}

.sch_container {
    font-family: Candara, serif;
}

.sch_header_first {
    display: inline-block;
    width: 50px;
    height: 60px;
    float: left;
    background-color: #fffbff;
    border-color: #cccccc;
    border-right-width: 1px;
    border-right-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.sch_header_first_embedded {
    width: 50px;
    height: 60px;
    padding-left: 5px;
    display: table-cell;
    vertical-align: bottom;
    text-align: left;
    font-variant: small-caps;
    font-weight: bold;
}

.sch_header_rest {
    display: inline-block;
    width: 150px;
    height: 60px;
    float: left;
    background-color: #fffffb;
    border-color: #cccccc;
    border-right-width: 1px;
    border-right-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.sch_header_rest_embedded {
    width: 150px;
    height: 60px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-variant: small-caps;
}

.sch_row_first {
    width: 50px;
    height: 60px;
    clear: both;
    float: left;
    border-color: #cccccc;
    background-color: #fffbff;
    border-right-width: 1px;
    border-right-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.sch_hour_text {
    font-weight: bold;
    padding-left: 5px;
}

.sch_row_rest {
    width: 150px;
    height: 60px;
    float: left;
    border-color: #cccccc;
    border-right-width: 1px;
    border-right-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.sch_movie_cell {
    width: 148px;
    position: relative;
    margin-top: -1px;
    float: left;
    border: 1px solid;
    /*border-color: #b0c4de;*/
    background-color: lightyellow;
    border-radius: 3px;
    box-shadow: 1px 1px 2px #888888;
    z-index: 99;
}

.sch_movie_cell_scheduled {
    background-color: lightpink;
}

.sch_movie_cell_embedded {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
    text-align: center;
    font-variant: small-caps;
    /*background-color: #faffb5;*/
}

a.sch_movie_cell_embedded, a.sch_movie_cell_embedded:visited {
    text-decoration: none;
    color: blue;
}

a.sch_movie_cell_embedded:hover {
    color: red;
}

.sch_movie_commands {
    width: 100%;
    position: absolute;
    bottom: 0;
    opacity: 0.7;
    background-color: #faffb5;
}

.sch_constraint {
    padding: 2px;
    float: right;
}

.sch_movie_button {
    padding: 2px;
    /*visibility: hidden;*/
}
