html {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.text {
    display: inline-block;
    width: 500px;
}

.sch_uncheck, .sch_check {
    width: 19px;
    height: 19px;
    display: block;
}

.sch_uncheck {
    background: transparent url(#{resource['img/check_16_mouse_over.png']}) center top no-repeat;
}

.sch_uncheck:hover {
    /*background-image: url(#{resource['img/check_16.png']});*/
}

.sch_check {
    visibility: hidden;
    background: transparent url(#{resource['img/check_16.png']}) center top no-repeat;
}

.sch_check:hover {
    /*background-image: url(#{resource['img/check_16_mouse_over.png']});*/
}

.sch_pin_user, .sch_unpin_user, .sch_pin_system {
    width: 19px;
    height: 19px;
    display: block;
    background: transparent no-repeat center;
}

.sch_pin_user {
    visibility: hidden;
    background-image: url(#{resource['img/pin_user_button_16.png']});
}

.sch_pin_user:hover {
    background-image: url(#{resource['img/pin_user_button_16_mouse_over.png']});
}

.sch_unpin_user {
    background-image: url(#{resource['img/pin_user_16.png']});
}

.sch_unpin_user:hover {
    top: 1px;
    background-image: url(#{resource['img/pin_user_16_mouse_over.png']});
}

.sch_pin_system {
    background-image: url(#{resource['img/pin_system_16.png']});
}

.sch_pin_system:hover {
    background-image: url(#{resource['img/pin_system_16_mouse_over.png']});
}
